@model Entities.DTOs.LoginUserDTO

@{
    ViewData["Title"] = @Localizer["passwordRecovery.Pagetitle"];
}

@section HeadContent {
    <meta name="description" content="Reset your Codis365 password securely and quickly.">
}

<!DOCTYPE HTML>
<html>
	<body>
		<div class="limiter">
			<div class="container-login100">
					<div id="loaderlayout" style="display:none"></div>
					<div class="wrap-login100">
						<form id="loginForm" style="width:100%;" class="login100-form validate-form" method="post" asp-controller="SignIn" asp-action="Login">

							<span class="login100-form-title p-b-15">
		  						<img src="~/lib/login/images/codis365.jpg" alt="Codis365 Logo" height="120">
							</span>

							<div class="recovertext m-b-40" style="text-align:justify; font-size: 14px">
								@Localizer["passwordRecovery.Confirmation"]
							</div>

							<div class="container-login100-form-btn">
								<div class="wrap-login100-form-btn">
									<div class="login100-form-bgbtn"></div>
										<button id="loginButton" class="login100-form-btn" onclick="location.href='/SignIn/Login?ReturnUrl=%2F" />									
											Login 
										</button>
								</div>
							</div>
						</form>
					</div>
			</div>
		</div>

		<div id="dropDownSelect1"></div>
	
		<script asp-append-version="true" src="~/js/iLabSpinner.js"></script>
		<script src="~/lib/login/vendor/jquery/jquery-3.2.1.min.js"></script>
		<script src="~/lib/login/vendor/animsition/js/animsition.min.js"></script>
		<script src="~/lib/login/vendor/bootstrap/js/popper.js"></script>
		<script src="~/lib/login/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="~/lib/login/vendor/select2/select2.min.js"></script>
		<script src="~/lib/login/vendor/daterangepicker/moment.min.js"></script>
		<script src="~/lib/login/vendor/daterangepicker/daterangepicker.js"></script>
		<script src="~/lib/login/vendor/countdowntime/countdowntime.js"></script>
		<script src="~/lib/login/js/main.js"></script>
		<script src="~/lib/spin/spin.js"></script>
	</body>
</html>

<script>
	iLabSpinner = Rats.UI.LoadAnimation.start();
	$(document).ready(function () {
		$('#loaderlayout').css("display", "none");
		iLabSpinner.stop();
	});

	document.addEventListener('DOMContentLoaded', function() {
		loginForm.addEventListener('submit', function(event) {
			iLabSpinner.stop();
			iLabSpinner = Rats.UI.LoadAnimation.start();
			$('#loaderlayout').css("display", "block");
		});
	});
</script>
