<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="false"
  internalLogLevel="Warn"
  internalLogFile="${basedir}/NLog_Internal.log" >

  <!-- enable asp.net core layout renderer -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.MailKit"/>
  </extensions>

  <!-- the targets to write to -->
  <targets async="true">

    <target xsi:type="File"
				name="DebugLog"
				fileName="${basedir}/NLog_${var:LoggerFileName}_DebugLog_${shortdate}.log"
				layout="${longdate} ${level:uppercase=true} ${logger} Trace: ${stacktrace} Msg: ${message}"
				archiveFileName="NLog_${var:LoggerFileName}_DebugLog.{#}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
        autoFlush="true"
				maxArchiveFiles="7"
        enableFileDelete="true"
				concurrentWrites="true"
        deleteOldFileOnStartup="true"
				keepFileOpen="true" />

    <target xsi:type="Database"
					  name="DBTarget"
   				      connectionString="Server=${var:DB_Server};User ID=${var:DB_UserId};Password=${var:DB_Pass};Database=${var:DB_Catalog};Encrypt=True;TrustServerCertificate=True"
					  commandText="INSERT INTO sysLogger (Project, CreatedOn,Message,Level,Exception,StackTrace,Logger,Url) VALUES (@project,@datetime,@msg,@level,@exception,@trace,@logger,@url)" >
      <parameter name="@project" layout="TFG-GEI_WebApp" />
      <parameter name="@datetime" layout="${date}" />
      <parameter name="@msg" layout="${message}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@exception" layout="${exception}" />
      <parameter name="@trace" layout="${stacktrace}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@url" layout="${aspnet-request-url}" />
    </target>

    <target xsi:type="Mail"
				  name="MailLog"
				  html="true"
				  addNewLines="true"
				  replaceNewlineWithBrTagInHtml="true"
				  encoding="UTF-8"
				  subject="Codis365 WebApp Logger - ${level:uppercase=true} - [${date}] [${hostname}] [${aspnet-request-ip}]"
				  to="${var:TargetMail}"
				  from="${var:smtpEmail}"
				  body="
						${date}         ${newline} ${newline} 
						${message}      ${newline} ${newline} 
						${stacktrace}   ${newline} ${newline} 
						${exception}    ${newline} ${newline}                
					   "
				  smtpUserName="${var:smtpUser}"
				  enableSsl="true"
				  smtpPassword="${var:smtpPass}"
				  smtpAuthentication="Basic"
				  smtpServer="${var:smtpServer}"
				  smtpPort="${var:smtpPort}"
          skipCertificateValidation="true"
          />
  </targets>

  <!-- 
    Fatal 	Something bad happened; application is going down
    Error 	Something failed; application may or may not continue
    Warn 	  Something unexpected; application will continue
    Info 	  Normal behavior like mail sent, user updated profile etc.
    Debug 	For debugging; executed query, user authenticated, session expired
    Trace 	For trace debugging; begin method X, end method X  
  -->

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" levels="Warn,Error,Fatal" writeTo="DebugLog" />
    <logger name="*" levels="Error,Fatal" writeTo="MailLog,DBTarget" />
  </rules>

</nlog>
