<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h1>A problem has occurred in Codis365 Server.</h1>
    <p>
        We are sorry but something went wrong. We are working to fix this problem. Please try again later.
    </p>
</body>
</html>